
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #355997;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding-bottom: 60px;
  margin-right: 0;
  width:auto; 
}


.chat-bot-form {
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 50px;
  z-index: 1000;
  width: 100%;
  padding-left: 280px;
}


.user-input {
  flex: 1;
  height: 35px;
  margin: 0 10px;
  border-radius: 20px;
  padding: 0 15px;
  background-color: rgb(213, 204, 204);
  border: none;
  font-family: 'Nunito', sans-serif; 
  font-size: 14px;
  font-weight: normal;
}

.reset-button, 
.save-conversation-button, 
button[type="submit"],
button {
  padding: 0 15px;
  height: 35px;
  margin: 0 5px;
  border-radius: 20px;
  border: none;
  font-family: 'Nunito', sans-serif; 
  font-size: 14px;
  font-weight: normal; 
}

.reset-button {
  background-color: rgb(242, 110, 172) !important;
  color: white;
}

.save-conversation-button {
  background-color: rgb(199, 175, 186) !important;
  color: white;
}

button[type="submit"], .send-button {
  background-color: #f2ecec !important;
  color: black;
}

/* 媒体查询优化 */
@media (max-width: 1200px) {
  .chat-bot-form {
    width: calc(100% - 220px);
    margin-left: 220px;
  }
}

@media (max-width: 768px) {
  .chat-bot-form {
    width: calc(100% - 200px);
    margin-left: 200px;
    padding: 3px 0;
  }
  
  .user-input {
    margin: 0 5px;
    font-size: 13px;
  }
  
  .reset-button, .save-conversation-button, button {
    padding: 0 10px;
    font-size: 13px;
  }
} 
